<div style="margin-top:80px;"class="container">
	
	<div class="col-xs-6">
		<div style="text-align: center;">
			<img src="https://thehunt.insnw.net/app/public/system/note_images/10932755/note_view/19c19080396b1af5023c09181ee38930.jpeg">
		</div>
	</div>
	<div style="height:100%;" class="col-xs-6">
		<div>
			<div style="padding-left:2px;" class="pull-left">
				<a href="/users/2sS6R6/gems">
					<img style="padding-right: 5px;" height="40" src="https://thehunt.insnw.net/app/public/system/user_images/4589242/lg_thumb/1447776015_61b6a5d55678d83bb9eb2902a536bc57.jpg"  width="40">
				</a>
			</div>
			<div >
				<a href="#">Danna</a>
			</div>
			<div >
				added this Find 8 minutes ago
			</div>
		</div>
		
		<hr style="margin-top:5px;margin-bottom:5px;">
			<div style="padding-left:2px;" class="pull-left">
				<a href="/users/2sS6R6/gems">
					<img style="padding-right: 5px;" alt="" height="40" src="https://thehunt.insnw.net/app/public/system/user_images/2236143/lg_thumb/1426732476_156a70b7e1d7283aa3bfedef1604651f.jpg"  width="40">
				</a>
			</div>
			<div>
				<div><a style="padding-right:5px;" href="#">Danna</a><span>posted 1 day ago</span></div>
				<div><span><small>Omg this is so saddd!! I literally just cut my nails</small></span></div>
			</div>
			
		<hr style="margin-bottom:5px;">
		<div class="comment-box" style="">
			<div style="height: 100%;padding:2px;">
				<div class="pull-left">
					<img style="padding-right: 5px;height:100%;" alt="" src="https://thehunt.insnw.net/app/public/system/user_images/4589229/large/1447775647_ac2a92aa5db21addb04d61265cc9a687.jpg"  width="40">
				</div>
				<div class="pull-left" style="height:100%;"><input style="width: 290px;height:100%;" type="text"></div>
				<div style="height:100%;"><button style="height:100%;margin-left:10px;">POST</button></div>
			</div>
			
		</div>
	</div>



</div>