<div ng-hide="showYourCloset" class="container" style="height:100%;padding-top:40px;">
	<div style="height:100%;" class=" animated fadeIn">
		<div style="overflow-y: auto;height:500px;padding-left:0;padding-right:0;" class="col-xs-7">
			<div class="col-xs-12" style="margin-bottom:1em;padding-left:0;height:300px;background-color:white;" ng-repeat="item in offerings">
				<div style="height:100%;">
					<div style="padding-left:0;text-align:center;" class="col-xs-4">
						<a ng-href="#/profile" ng-click="$parent.$parent.closeModalWithID('offeringsModal')">
						<img style="max-height: 200px;max-width: 200px;"
							ng-src="{{item.imageUrl}}">
						</a>
					</div>
					<div style="height:100%;" class="col-xs-8">
						<div>
							<div style="padding-left:2px;" class="pull-left">
								<a href="/users/2sS6R6/gems">
									<img style="padding-right: 5px;" height="40" src="https://thehunt.insnw.net/app/public/system/user_images/4589242/lg_thumb/1447776015_61b6a5d55678d83bb9eb2902a536bc57.jpg"  width="40">
								</a>
							</div>
							<div >
								<a href="#">Danna</a>
							</div>
							<div >
								added this Find 8 minutes ago
							</div>
						</div>
						<hr style="margin-top:5px;margin-bottom:5px;">
							<a href="#/the-offering">
								<strong>4 Comment 
									<img style="height:22px;"src="http://icons.iconarchive.com/icons/custom-icon-design/pretty-office-9/128/comment-edit-icon.png">
								</strong>
							</a>
						<hr style="margin-top:5px;margin-bottom:5px;">
							<div style="padding-left:2px;" class="pull-left">
								<a href="/users/2sS6R6/gems">
									<img style="padding-right: 5px;" alt="" height="40" src="https://thehunt.insnw.net/app/public/system/user_images/2236143/lg_thumb/1426732476_156a70b7e1d7283aa3bfedef1604651f.jpg"  width="40">
								</a>
							</div>
							<div>
								<div><a style="padding-right:5px;" href="#">Danna</a><span>posted 1 day ago</span></div>
								<div><span><small>Omg this is so saddd!! I literally just cut my nails</small></span></div>
							</div>
							
						<hr style="margin-bottom:5px;">
						<div class="comment-box" style="">
							<div style="height: 100%;padding:2px;">
								<div class="pull-left">
									<img style="padding-right: 5px;height:100%;" alt="" src="https://thehunt.insnw.net/app/public/system/user_images/4589229/large/1447775647_ac2a92aa5db21addb04d61265cc9a687.jpg"  width="40">
								</div>
								<div class="pull-left" style="height:100%;"><input style="width: 290px;height:100%;" type="text"></div>
								<div style="height:100%;"><button style="height:100%;margin-left:10px;">POST</button></div>
							</div>
							
						</div>
					</div>
					
							
				</div>
			</div>	
				
		</div>

		<div  class="col-xs-5 text-center">
			<div style="padding-bottom:1em;font-size:20px;">Own Something Similar?</div>
			<div class=""><button class="btn">Sell it here</button></div>
			<!-- <div style="font-size:20px;">Know where to buy this?</div><hr>
			<div style="width:100%;">
				<input style="width: 100%;height:4em;padding:1em;" type="text" placeholder="http://">
				
			</div><br> -->
			<hr>
			<div style="font-size:20px;">Offer your own item <span><img ng-click="setShowCloset(true)" style="height:40px;"src="http://www.valevs.com/modelos/closet%20A%20recamara2.jpg"></span></div>

		
		</div>
	</div>
</div>