<div style="background-color:black;height:100%;">
	<div style="padding-top:20px;padding-bottom:10px;background-color: white;color:black;">
		
		<div style="padding-left:0;padding-right:0;"class="container">
			
			<span>
				<img style="height: 80px;margin-right:1em;"
				ng-src="{{wantPost.imageUrl}}">
			</span> 
			<span
				style="border: 1px solid black; padding: 5px; margin-right: 5px;"
				ng-repeat="tag in mainWaunt.tags track by $index">
				{{tag}}
			</span>
		</div>
	</div>

	<!--body-->
	<div style="height:100%;background-color: white;" >
		<div ng-include="'/app/components/offerings/offeringsList.html'"></div>
		<div ng-include="'/app/components/offerings/offeringsCloset.html'"></div>
	</div>
</div>

