<div style="padding-top:20px;padding-bottom:10px;">
	<!--close button-->
	<div class="pull-left" style="margin-left:5%;">
		<i ng-click="closeOfferingsWindow()"class="fa fa-times fa-4x"></i>
	</div>
	<!-- want description-->
	<div class="container" >
		<span>
			<img style="height: 80px; width: 80px;margin-right:1em;"
			ng-src="{{wantPostClickedItem.imageUrl}}">
		</span> 
		<span
			style="border: 1px solid black; padding: 5px; margin-right: 5px;"
			ng-repeat="tag in mainWaunt.tags track by $index">
			{{tag}}
		</span>
	</div>
</div>

<!--body-->
<div style="height:100%;" >
	<div ng-include="'/app/components/offerings/offeringsList.html'"></div>
	<div ng-include="'/app/components/offerings/offeringsCloset.html'"></div>
</div>


