<div ng-hide="showYourCloset" class="container" style="height:100%;padding-top:40px;">
	<div style="height:100%;" class=" animated fadeIn">
		<div style="overflow-y: auto;height:500px;padding-left:0;padding-right:0;" class="col-xs-7">

				<div class="col-xs-12" style="padding-bottom:1em;padding-left:0;" ng-repeat="item in offerings">
					
							<div style="padding-left:0;" class="col-xs-4">
								<a ng-href="#/profile" ng-click="$parent.$parent.closeModalWithID('offeringsModal')">
								<img style="max-height: 200px;max-width: 200px;"
									ng-src="{{item.imageUrl}}">
								</a>
							</div>
							<div class="col-xs-8">
								<div>Jeremy Cooperstock</div>
								<div><button>Tags...</button></div>
							</div>
							
				</div>
				
				
		</div>

		<div  class="col-xs-5 text-center">
			<div style="padding-bottom:1em;font-size:20px;">Own Something Similar?</div>
			<div class=""><button class="btn">Sell it here</button></div>
			<!-- <div style="font-size:20px;">Know where to buy this?</div><hr>
			<div style="width:100%;">
				<input style="width: 100%;height:4em;padding:1em;" type="text" placeholder="http://">
				
			</div><br> -->
			<hr>
			<div style="font-size:20px;">Offer your own item <span><img ng-click="setShowCloset(true)" style="height:40px;"src="http://www.valevs.com/modelos/closet%20A%20recamara2.jpg"></span></div>

		
		</div>
	</div>
</div>