<div style="background-color:black;height:100%;">
	<div style="padding-top:20px;padding-bottom:10px;background-color: white;color:black;">
		<!--close button-->
		<div class="pull-left" style="margin-left:5%;">
			<i ng-click="closeOfferingsWindow()"class="fa fa-times fa-4x"></i>
		</div>
		<!-- want description-->
		<div class="container">
			<span class="pull-right">
				<div style="">
					<img style="height: 40px;width: 40px;border-radius: 50%;"src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/8/005/0b6/2e4/005c4e2.jpg">
					<span>Diana Chen</span>
				</div>
				<div style="padding-top:1em;"><button style="width:100%"class="btn">Contact</button></div>
			</span>
			<span>
				<img style="height: 80px;margin-right:1em;"
				ng-src="{{wantPostClickedItem.imageUrl}}">
			</span> 
			<span
				style="border: 1px solid black; padding: 5px; margin-right: 5px;"
				ng-repeat="tag in mainWaunt.tags track by $index">
				{{tag}}
			</span>
		</div>
	</div>

	<!--body-->
	<div style="height:100%;background-color: white;" >
		<div ng-include="'/app/components/offerings/offeringsList.html'"></div>
		<div ng-include="'/app/components/offerings/offeringsCloset.html'"></div>
	</div>
</div>

