<div style="" class="container">
	<div
		style="position: relative; padding: 30px; height: 500px; text-align: center; color: white;"
		class="col-xs-3 customBlueBackground">
		<div style="margin: 10px;">Account Settings</div>
		<div>
			<img style="height: 100px; width: 100px; border-radius: 50%;"
				ng-src="{{user.image}}">
		</div>


		<div style="position: relative; top: 250px;">
			<button style="color: black;">Delete my Account</button>
		</div>

	</div>
	<div class="col-xs-9">
		<label><input placeholder="Name" type="text"></label><br>
		<label><input placeholder="ID" type="text"></label><br> <label><input
			placeholder="Password" type="password"></label><br> <label><input
			placeholder="E-mail" type="email"></label><br> <label><input
			type="checkbox"> Private Mode</label>

		<h4>Virtual Closet</h4>
		<div>
			<label><input type="checkbox"> Private Mode</label>
		</div>

		<h4>Notifications</h4>
		<div>
			<label><input type="checkbox"> Email me when I get
				notifications</label><br> <label><input type="checkbox">
				Email me when I receive messages</label><br> <label><input
				type="checkbox"> Email me important updates</label><br>


		</div>
		<div>
			<button>SAVE</button>
		</div>





	</div>
</div>
