<div style="margin-top:50px;"class="container">
		

		<!-- product details -->
		<div class="row">
			<div class="col-xs-2"></div>
			<div class="col-xs-8"></div>
			<div class="col-xs-2"></div>


		</div>
		<div style="width:50%;margin: 0 auto;">
			<div class="animated fadeIn" >
				<tags-input ng-model="tags" placeholder="Add some tags that define your item" class="create-post-search">
	   					<auto-complete source="loadTags($query)" ></auto-complete>
				</tags-input>	
				
				
			</div>
			<div class="animated fadeIn">
				<textarea ng-model="wantPost.post.description" placeholder="Describe your tags real quick" style="height:100px;width:100%;margin: 10px 0;padding-left:10px;"></textarea>
			</div>
		</div>
		<div style="width:50%;margin-left:auto;margin-right:auto; "class="row animated fadeIn">
			<div class="row">
				<div id="uploaded-images" ></div>
			</div>
			<div class="row">
				<div class="col-xs-2">
					<label>PHOTOS</label>
				
				</div>
				<div class="col-xs-10">
					<div id="photoDropzone" class="photoDropzone">Drag files to upload</div>	
	  					<input id="files-to-upload" type="file" multiple="" accept="image/*">			
				</div>

			</div>
			<hr>
			<button ng-click="submitWantPost()" style="color: #fff;padding: 0.5em 5.2em;" class="customBlueBackground no-border pull-right">SELL</button>
		</div>

</div>












