<div class="container">
	<div class="row">
		<!-- Column 1 -->
		<div class="col-xs-4 text-center">
			<p><i class="fa fa-hourglass-start fa-5x"></i></p>
			<h4>The Opportunity</h4>
			<p>To make the hunt for the newest fashion trends and hottest styles fun and easy! </p>
		</div>


		<!-- Column 2 -->
		<div class="col-xs-4 text-center">
			<p><i class="fa fa-camera fa-5x"></i></p>
			<h4>The Idea</h4>
			<p>Grab your smart device, snap a picture and gain access to thousands of products and brands</p>
		</div>


		<!-- Column 3 -->
		<div class="col-xs-4 text-center">
			<p><i class="fa fa-ship fa-5x"></i></p>
			<h4>The Solution</h4>
			<p>Just snap a photo with Ventana and our leading-edge photo engine will find a near-matches, from different brands, for you to choose</p>
			
		</div>

	</div>
</div>
