<div style="height:100px;text-align: center;">
	
	<div style="width:50%;margin: 0 auto;">
		<div style="width: 100%;"class="input-group">
			<div class="input-group-btn search-panel">
				<button style="height:70px;" type="button" class="btn btn-default dropdown-toggle"
					data-toggle="dropdown">
					<span id="search_concept">All</span> <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li><a href="">All Departments</a></li>
					<li><a href="">Appliances</a></li>
					<li><a href="">Clothing, Shoes & Jewelry</a></li>
					<li><a href="">Women</a></li>
				</ul>
			</div>
			<!--<select style="width: 100%;" data-placeholder="Choose a recipient" multiple class="chzn-select" ng-model="tags" ng-options="tag.name for tag in tagsList" chosen ></select>-->
			<tags-input ng-model="tags" class="customSearch">
   				<auto-complete source="loadTags($query)" ></auto-complete>
			</tags-input>	
			<span class="input-group-btn">
				<button style="height:70px;" class="btn btn-default" type="button">
					<span class="glyphicon glyphicon-search"></span>
				</button>
			</span>

		</div>




	</div>
	
</div>


