<div ng-show="showMainSearchBar" style="height:100px;text-align: center;">
	<div style="width:100%;margin: 0 auto;">
		<div style="width: 100%;"class="input-group">
			
			<!--<select style="width: 100%;" data-placeholder="Choose a recipient" multiple class="chzn-select" ng-model="tags" ng-options="tag.name for tag in tagsList" chosen ></select>-->
			<tags-input ng-model="tags" on-tag-added="onTagAdded($tag.text)" on-tag-removed="onTagRemoved($tag.text)" class="customSearch">
   				<auto-complete source="loadTagsToDisplay($query)" ></auto-complete>
			</tags-input>	
			<span class="input-group-btn">
				<button style="height:70px;" class="btn btn-default" type="button">
					<span class="glyphicon glyphicon-search"></span>
				</button>
			</span>

		</div>




	</div>
	
</div>


