<div class="container" style="height: {{height}};padding:10px 0px;">


	<div class="col-xs-4" style="padding:0;">
		<a href="#/"><span><img style="height: 50px;"
				ng-src="{{company.logo}}"></span></a>
	</div>


	<div class="col-xs-4" style="">
		
	</div>


	<div style="padding:0;" ng-switch on="accessToken" class="col-xs-4" >
		<!-- Right hand side of navbar when LOGGED IN-->
		<!-- change false to true when login is implemented-->
		<div ng-switch-default class="pull-right" style="position: relative; width: 250px; z-index: 3;">
			<ul ng-mouseenter="showNavbar = true"
				ng-mouseleave="showNavbar = false" style="list-style: none;">
				<li class="pull-right cursor-pointer">
					<a href="#/profile">
					<img
						style="height: 40px; border-radius: 50%; margin-right: 5px; width: 40px;" ng-src="{{user.profileImageUrl}}"
						>{{user.displayName}}<span
						style="margin-left: 5px;" class="caret"></span>
					</a>
				</li>

				<li ng-show="showNavbar"
					style="position: absolute; top: 100%; width: 100%; left: 70px; border: 1px solid #ddd; background-color: white;">
					<a ng-repeat="item in navbarProfileMenu" ng-click="logout()" ng-href="{{item.href}}">
						<div class="cursor-pointer navlistStyle" ng-class="{'customBlueBackground' : cl , 'whiteText' : cl}"
						ng-mouseenter="cl = true" ng-mouseleave="cl = false">{{item.name}}
						</div>
					</a>
					<a  ng-click="logout()">
						<div class="cursor-pointer navlistStyle" ng-class="{'customBlueBackground' : cl , 'whiteText' : cl}"
						ng-mouseenter="cl = true" ng-mouseleave="cl = false">Logout
						</div>					
					</a>
				</li>
			</ul>
		</div>


		<!-- Right hand side of navbar when LOGGED OUT-->
		<div ng-switch-when="" class="pull-right"
			style="position: relative; width: 250px; z-index: 1;">
			<div class="pull-right">
				<button data-toggle="modal" data-target="#signupModal"
					class="btnWaunted" style="margin-right: 5px;">Sign Up</button>
				<button class="btnWaunted" data-toggle="modal"
					data-target="#loginModal">Login</button>
			</div>
		</div>


	</div>


	<!-- SignUp Modal -->
	<div>
		<div class="modal" id="signupModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<!--Modal's Header-->
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<div>
							<div>GottaFind.it</div>
						</div>

					</div>
					<!--Modal's Body-->
					<div style="text-align: center;" class="col-xs-12">
						<div style="margin-bottom: 1em;">
							<img style="height:150px;width:150px;border-radius: 50%;" src="assets/img/gotta-find-it.jpg">
						</div>
						<div style="display:block;width:80%;text-align: center;margin: 0 auto;">
							<a ng-click="facebookLogin()" class="btn btn-block btn-social btn-facebook">
						    	<i class="fa fa-facebook"></i> Sign in with Facebook
						  	</a>
						  	<a class="btn btn-block btn-social btn-google">
						    	<i class="fa fa-google"></i> Sign in with Google
						  	</a>
						</div>

					</div>

					<div class="modal-footer">
						<!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>-->
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Login Modal -->
	<div >
		<div class="modal" id="loginModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<!--Modal's Header-->
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<div>
							Waunted
						</div>

					</div>
					<!--Modal's Body-->				
					<div style="" class="col-xs-12 modal-body">
						<div style="max-height: 500px; overflow-y: auto;" class="col-xs-6">
							<img src="https://pbs.twimg.com/media/CEa9-sdUgAA9eEe.jpg">
						</div>

						<div class="col-xs-6">
							
							<div>Email:</div>
							<div>
								<input style="width:100%;" ng-model="email" type="email">
							</div>
							<div>Password:</div>
							<div>
								<input style="width:100%;" ng-model="password" type="password">
							</div>
							<div style="margin-top:10px;width: 100%;">
                                <button class="pull-right btnWaunted" ng-click="login(email, password)">Login</button>
							</div>
													
						</div>

					</div>





					<div class="modal-footer">
						<!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>-->
					</div>
				</div>
			</div>
		</div>
	</div>




</div>