
.whiteBackgroundBlueText{
	background-color: white; 
	color: rgb(1, 87, 155);
}

.whiteText {
	color: rgb(255, 255, 255);
}

.customBlueBackground {
	background-color: rgb(1, 87, 155);
}

.customBlueText {
	color: rgb(1, 87, 155);
}

.btnWaunted{
	border: 1px solid rgb(1, 87, 155);
	background-color: #fff;
	color: rgb(1, 87, 155);
}
.btnWaunted:hover{
	border: 1px solid rgb(1, 87, 155);
	background-color: rgb(1, 87, 155);
	color: #fff;
}


.customBlueButton {
	border: 1px solid rgb(1, 87, 155);
	background-color: #fff;
	color: rgb(1, 87, 155);
}
.customBlueButton:hover {
	border: 1px solid rgb(1, 87, 155);
	background-color: rgb(1, 87, 155);
	color: #fff;
}

.overlayBlackColor {
	background-color: rgba(0, 0, 0, 0.6);
}

.overlayWhiteColor {
	background-color: rgba(255, 255, 255, 0.6);
}

.no-border {
	border: 0;
}

.cursor-pointer {
	cursor: pointer;
}

.tabBtn {
	padding: 5% 0;
	border-bottom: 2px solid rgb(1, 87, 155);
}

.tabBtn.active {
	border-top: 2px solid rgb(1, 87, 155);
	border-right: 2px solid rgb(1, 87, 155);
	border-left: 2px solid rgb(1, 87, 155);
	border-bottom: 0;
}

.icon-inside-textbox {
	background-size: 20px 20px;
	background-repeat: no-repeat;
	padding-left: 30px;
	background-position-x: 5px;
}
.photoDropzone{
	height:100px;
	line-height:100px;
	width:100%;
	text-align:center;
	border:1px dashed #ccc;
	color:#ccc;
}
.photoDropzone.dragover{
	border-color:#000;
	color:#000;
} 
.sell-upload-picture{
	height:110px;
	width:110px;
	margin:1em;
	border: solid 1px black;
	float:left;
}
.uploadedImage{
	height:65px !important;
}
.cover-picture-radio{
	margin-right:0.5em !important;
}

.navlistStyle{
	height: 30px; 
	padding: 20px; 
	margin: 5px; 
	text-align: center; 
	line-height: 0px;
}
.comment-box{
	position: relative;
	height:40px;
	border-radius: 5px;
	background-color: #cfd0d1;
	width: 400px;
}
