.customToolTip {
	position: relative;
	color: #fff;
	background-color: black;
	min-width: 100px;
	margin-left: -37px;
	padding: 5% 10%;
	white-space: nowrap;
}

.customToolTip:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 0, 0, 0);
	border-top-color: #000000;
	border-width: 5px;
	margin-left: -5px;
}

.navboxTagLayout{
	padding: 5px 15px;
	background-color: #fff;
	color: rgb(1, 87, 155);
	margin: 0 5px;
}

.want-border-color{
	border-color: black;
}
.sell-border-color{
	border-color:blue;
}
.item-tag-box{
	border: 1px solid black;
	padding:2px 5px;
	margin-right:5px;
}


tags-input.customSearch .host{
	margin:0;	
	height:70px;

}
tags-input.customSearch .tags{
	padding-left:10px;
}
tags-input.customSearch .tags .tag-item{
	line-height: 35px;
	height:40px;
	margin-top:1.5%;
}
tags-input.customSearch .tags input{
	height:100%;
}
.modal-lg{
	width:90%;
	height:40%;
}

.showYourClosetSelectedThumbnail{
	border:1px solid black;

}
