
label.myLabel input[type="file"] {
    position: fixed;
    top: -1000px;
}

/***** Example custom styling *****/
.myLabel {
    width: 100%;
    background: rgba(204, 204, 204,0.5);;
    display: inline-block;
    cursor:pointer;
}
.myLabel:hover {
    background: #CCC;
}
.myLabel:active {
    background: #CCA;
}
.myLabel :invalid + span {
    color: #fff;
}
.myLabel :valid + span {
    color: #fff;
}