<div ng-controller="searchEngineController" ng-include="'app/components/home/searchEngine/searchEngineView.html'"></div>
<hr>



<div class="container">
	
	<div ng-hide="offeringsWindow == true" class="row">
		<div  ng-repeat="item in queriedWantPosts track by $index"
			style="margin-bottom: 50px; background-color: #fff; padding-right: 3px; padding-left: 3px;"
			class="col-xs-3">
			<!--WANT ITEM-->
			<div>
				<div ng-mouseenter="itemOverlay = true" ng-mouseleave="itemOverlay = false" ng-class="{'cursor-pointer' : itemOverlay}"  class="want-border-color" style="position:relative;border-width: 2px;border-style: solid; padding: 5px;">
					<div>
						<div  style="position: relative;">
							<div style="height: 170px;">
								<div class="text-center">
									<img style="max-height: 170px;max-width:100%;" ng-src="{{item.imageUrl}}">
								</div>
							</div>


							<!--Overlay of an item -->
							<a ng-href="#/offerings/{{item.id}}"><div ng-show="itemOverlay"
								style="position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.5)">
								
								<div
									style="position: absolute; bottom: 0; width: 100%; height: 50px; color: #fff; background-color: rgba(0, 0, 0, 0.6)"
									class="overlayBlackColor">
									<span style="margin: 10px; color: white;">{{item.description}}</span>
								</div>
							</div></a>
						</div>
					</div>
					
					<div style="position:absolute;bottom:2px;left:2px;z-index:1;">

						<div ng-show="itemOverlay"  class="text-center">							
							<button  ng-click="toggleFollow(item)"style="font-size:11px;" class="btnWaunted"><span ng-if="item.isFollowed == true">Unfollow</span><span ng-if="item.isFollowed == false">Follow</span></button>
						</div>						
					</div>

					<hr>

					<div style="height:60px;">
						<div style="height:50%;">
							<!--<span ng-repeat="tag in item.tags track by $index" style="" class="item-tag-box">{{tag}}</span>-->
						</div>


						<div style="font-size: 0.8em;height:50%;margin-top:15px;">
							<span class="col-xs-4" style="padding: 0;">{{item.followerCount}}
								Follows</span> <span class="col-xs-4" style="padding: 0;">{{item.offerCount}}
								Offerings</span> <span class="col-xs-4" style="padding: 0;">
							</span>
						</div>

					</div>
				</div>

			</div>

			
		</div>
	</div>
	
	<div class="container">	    
	  <modal title="Ooops" visible="errorModal.showModal">
	    <!--Modal's Body-->
		<div style="text-align: center;" class="">
			<div style="margin-bottom: 1em;">
				<img style="height:150px;width:150px;border-radius: 50%;" src="http://www.startupdonut.co.uk/sites/default/files/oops_249x189.png">
			</div>
			<div style="display:block;width:80%;text-align: center;margin: 0 auto;">
				{{errorModal.message}}  	
			</div>
			<div class="text-right"><button ng-click="toggleErrorModal()" class="btn btn-default ">Close</button></div>
		</div>
		
	  </modal>
	</div>


</div>
