<div ng-controller="searchEngineController" ng-include="'app/components/home/searchEngine/searchEngineView.html'"></div>

<div class="container">
	<div class="row">
		<div ng-repeat="item in wantPosts"
			style="margin-bottom: 50px; background-color: #fff; padding-right: 3px; padding-left: 3px;"
			class="col-xs-3">
			<!--WANT ITEM-->
			<div>
				<div ng-mouseenter="itemOverlay = true" ng-mouseleave="itemOverlay = false" ng-class="{'cursor-pointer' : itemOverlay}"  class="want-border-color" style="position:relative;border-width: 2px;border-style: solid; padding: 5px;">
					<div>
						<div  style="position: relative;">
							<div style="height: 170px;">
								<div class="text-center">
									<img style="max-height: 170px;" ng-src="{{item.imageUrl}}">
								</div>
							</div>


							<!--Overlay of an item -->
							<div data-toggle="modal" data-target="#offeringsModal" ng-show="itemOverlay"
								style="position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.5)">
								
								<div
									style="position: absolute; bottom: 0; width: 100%; height: 50px; color: #fff; background-color: rgba(0, 0, 0, 0.6)"
									class="overlayBlackColor">
									<span style="margin: 10px; color: white;">{{item.description}}</span>
								</div>
							</div>
						</div>
					</div>
					
					<div style="position:absolute;bottom:2px;left:2px;z-index:1;">

						<div ng-show="itemOverlay"  class="text-center">
							<button  ng-click="addFollower($index)" style="font-size:11px;" class="btnWaunted">{{"Follow" | uppercase}}</button>
							<!--<button ng-switch-when="true" ng-click="addFollower($index)" style="font-size:11px;" class="btnWaunted">{{"Unfollow" | uppercase}}</button>-->
						</div>						
					</div>

					<hr>

					<div style="height:60px;">
						<div style="height:50%;">
							<!--<span ng-repeat="tag in item.tags track by $index" style="" class="item-tag-box">{{tag}}</span>-->
						</div>


						<div style="font-size: 0.8em;height:50%;margin-top:15px;">
							<span class="col-xs-4" style="padding: 0;"><!--{{item.followers}}-->2
								Follows</span> <span class="col-xs-4" style="padding: 0;"><!--{{item.offerings}}-->2
								Offerings</span> <span class="col-xs-4" style="padding: 0;">
							</span>
						</div>

					</div>
				</div>

			</div>

			
		</div>
	</div>
	

	<!-- Modal -->
	<div ng-controller="offeringsController">
		<div class="modal" id="offeringsModal" tabindex="-1"
			role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<!--Modal's Header-->
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<div>
							<span><img style="height: 80px; width: 80px;"
								ng-src="{{mainWaunt.image}}"></span> <span
								style="border: 1px solid black; padding: 5px; margin-right: 5px;"
								ng-repeat="tag in mainWaunt.tags track by $index">{{tag}}</span>
							
						</div>

					</div>
					<!--Modal's Body-->
					<div style="" class="col-xs-12 modal-body">
						<div style="height:100%;" class=" animated fadeIn" ng-hide="showYourCloset">
							<div style="max-height:100%;overflow-y: auto;" class="col-xs-7">
								<div>
									<a ng-href="#/product-page" ng-click="$parent.$parent.closeModalWithID('offeringsModal')">
									
										<div style="" ng-repeat="item in offerings">
											<div
												style="height: 100px; width: 100px; position: relative; display: inline-block; text-align: center;">
												<img style="max-height: 90px; max-width: 90px;"
													ng-src="{{item.image}}">
											</div>
											<div style="display: inline-block;">
												<div>{{item.price | currency}}</div>
												<div>{{item.location}}</div>
												
											</div>
										</div>
									</a>
								</div>
								

								


							</div>
							<div  class="col-xs-5">
								<div>Know where to buy this?</div>
								<div style="width:100%;">
									<input style="width: 50%;" type="text" placeholder="http://">
									<span style="width:20%;"><button>Boom</button></span>
								</div><br>
								<div>Offer your own item <span><img ng-click="showYourCloset = true" style="height:30px;"src="http://www.icons101.com/icons/20/Flat_Round_by_Roundicons/128/Closet.png"></span></div>

								<!--<div>Virtual Closet</div>
								<input style="width: 100%;" type="text" placeholder="URL">
								<div>Description</div>
								<textarea style="width: 100%; min-width: 100%; max-width: 100%;"
									placeholder=""></textarea>
								<div class="pull-right">
									<button class="btnWaunted">Enter</button>
								</div>-->
							</div>
						</div>
						<!--Div that lets you pick from virtual closet-->
							<div style="height:100%;overflow-y:auto;" class="" ng-show="showYourCloset">
									<!--arrow to go back to offerings-->
									<div style="margin-bottom:10px;overflow-y: hidden;">
										<span  ng-click="showYourCloset = false"><img style="height:30px" src="http://www.mixvassallo.com/website/frontend/css/images/back-button.png"> Go back</span>
									</div>
									<div style="overflow-y: auto;">
										<div ng-repeat="item in yourCloset" style="width:25%; display: inline-block;" >
											<div  ng-class="{ 'showYourClosetSelectedThumbnail': $index == selectedIndex }" ng-click="yourClosetItemClicked($index)"  style="height: 150px;position: relative; text-align: center;margin:5px;padding:5px;">
												<img style="height: 140px; max-width: 100%;" ng-src="https://thehunt.insnw.net/app/public/system/note_images/10345456/note_preview/09c219e923b69049739cedf4c447f452.jpeg" src="https://thehunt.insnw.net/app/public/system/note_images/10345456/note_preview/09c219e923b69049739cedf4c447f452.jpeg">
											</div>
										</div>
										<!-- create a new offering from the closet -->
										<a target="_blank"href="#/create-want-post"><div  style="border:1px dotted black;width:25%; display: inline-block;">
											<div class="plus-sign-div">
												<div style="height: 150px;position: relative; text-align: center;margin:5px;padding:5px;">
													<div style="text-align: center;line-height: 150px;font-size: 30px;">+</div>
												</div>
											</div>
										</div></a>

									</div>	
									<div style="display: block;position:absolute;bottom:0;right:20px;">
										<button class="pull-right btn">Offer it</button>
									</div>
							</div>
					</div>
					<div class="modal-footer">
						<!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary">Save changes</button>-->
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
