<div ng-controller="navboxController">
	<div class="customBlueBackground" style="padding: 25px;position: relative;">

		<div class="container">
			<div style="padding-right:5px;float:left;color:white;margin-top:10px;">WAUNT:</div> 
			<!--<span ng-repeat="item in navbox.currentTags track by $index" class="navboxTagLayout">{{item}}</span>-->
			<div style="float:left;" class="simpleDemo">
                    
                <div>
                	<ul dnd-list="models.lists.A">
					    <!-- The dnd-draggable directive makes an element draggable and will
					         transfer the object that was assigned to it. If an element was
					         dragged away, you have to remove it from the original list
					         yourself using the dnd-moved attribute -->
					    <li ng-repeat="item in models.lists.A"
					        dnd-draggable="item"
					        dnd-moved="models.lists.A.splice($index, 1)"
					        dnd-effect-allowed="move"
					        dnd-selected="models.selected = item"
					        ng-class="{'selected': models.selected === item}"
					        >
					        {{item.label}}
					    </li>
					</ul>
                </div>
            </div>

		</div>
	</div>
	<div style="position: absolute;right:0;top:150px;"><button type="button" class="btnWaunted" data-toggle="collapse" data-target="#navbox">ExpandCollapse</button></div>
	<div id="navbox" class="collapse">
		<div style="margin-left:auto;margin-right:auto;position: relative;">
			<div style="width:0;margin: 0 auto;position: relative;">

				<div style="height:0;width:0;border-top:300px solid rgb(1, 87, 155);border-left: 500px solid transparent; border-right:500px solid transparent;margin-left:-500px;position:relative;">

				</div>
				
				
			</div>
			<!--<div class="" style="position: absolute;top:0;width:100%;padding:0 30%;word-wrap:break-word;text-align: center;">
					<div style="margin-top:10px;display: inline-block;"ng-repeat="item in navbox.availableTags track by $index" class="navboxTagLayout">{{item}}</div>
			</div>-->
			<div style="position: absolute;top:0;width:100%;padding:0 30%;word-wrap:break-word;text-align: center;" class="simpleDemo">
	                    
	            <div>
	            	<ul dnd-list="models.lists.B">
					    <!-- The dnd-draggable directive makes an element draggable and will
					         transfer the object that was assigned to it. If an element was
					         dragged away, you have to remove it from the original list
					         yourself using the dnd-moved attribute -->
					    <li style="" ng-repeat="item in models.lists.B"
					        dnd-draggable="item"
					        dnd-moved="models.lists.B.splice($index, 1)"
					        dnd-effect-allowed="move"
					        dnd-selected="models.selected = item"
					        ng-class="{'selected': models.selected === item}"
					        >
					        {{item.label}}
					    </li>
					</ul>
	            </div>
	        </div>

		</div>
		<div style="padding-bottom: 10px">
			<div style="width: 0;margin:0 auto;">
				<div style="height:0;width:0;border-bottom: 100px solid white;border-left:100px solid transparent; border-right: 100px solid transparent;margin-left:-100px;position: relative;bottom:100px;">
					<div style="position: absolute;left:-50px;bottom:10px;"><button style="white-space: nowrap;border:3px solid rgb(195,151,26)"class="btnWaunted">Control Panel</button></div>
				</div>
			</div>	
		</div>
	</div>
</div>	
