<div style="height:100%"class="navbox">
	<div style="position:relative;height:100%;width:100%;"class"row">
		<div ng-click="toggleList()" style="height:100%;display: table;" class="col-xs-2 navbox-arrow-section">
			<div style="display: table-cell;vertical-align: middle;">
				<div style="" class="pull-left"><img style="height:100px;width:100px;"src="assets/img/arrow-thin-left.png"></div>
			</div>
		</div>
		<div style="height:100%;padding-top:25px;padding-bottom:25px;" class="col-xs-8">
			<div id="recommended-tags-container" ng-hide="hideTags" class="" style="width:100%;">
				<div style="height:100%;"  ng-repeat="item in availableTags track by $index">
					<div class="pull-left recommended-tags">
						{{item}}
					</div>	
				</div>
			</div>	
		</div>	
		<div ng-click="toggleList()" style="height:100%;display: table;" class="col-xs-2 navbox-arrow-section">
			<div style="display: table-cell;vertical-align: middle;">
				<div style="" class="pull-left"><img style="height:100px;width:100px;"src="assets/img/arrow-thin-right.png"></div>
			</div>
		</div>
	</div>

</div>
