<div style="margin-left: auto;">
	<div>What do you want? Just tell us!</div>
	<div class="row">
		<div style="" class="col-xs-3"></div>
		<div style="position: relative; top: 20px;" class="col-xs-6">
			<div
				style="display: inline-block; height: 200px; width: 200px; background-color: red;"></div>
			<div
				style="display: inline-block; height: 200px; width: 200px; background-color: red;"></div>
			<div
				style="display: inline-block; height: 200px; width: 200px; background-color: red;"></div>

		</div>
		<div style="text-align: center;" class="col-xs-3"></div>
	</div>
</div>