<div class="container">
	<!--Cover image-->
	<div class="" style="position: relative; height: 300px; background-color: rgba(0, 0, 0, 1); padding: 30px;margin-top:20px; color: white;">
		<!-- image -->
		<div
			style="position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-image: url('https://kathleenjshields.files.wordpress.com/2013/09/cover-facebook-abstract.jpg')"></div>
		<!-- light black overlay -->
		<div style="position: absolute;background-color:rgba(0,0,0,0.5);height:100%;width:100%;top:0;left:0;">
		</div>	
		
		<button class="btnWaunted"
			style="position: absolute; right: 30px;">MESSAGE JACOB</button>

		<!--profile pic-->
		<!-- User name -->
		<div class="animated fadeInLeft"style="position:absolute;left:0;bottom:0;font-size:40px;margin-left:30px;">{{fullName}}</div>
	</div>

	<div  style="position: absolute; text-align: center; left: 50%; margin-left: -70px; margin-top: -70px;">
		<img class="animated pulse" style="height: 140px; width: 140px; border-radius: 50%;"
			ng-src="{{user.profileImageUrl}}">
	</div>

	
</div>

<!-- tab view -->
<div style="margin-top: 80px;" class="container">

	<div style="" class="row">
		<div class="col-xs-4 text-center cursor-pointer tabBtn active"
			ng-class="{'active' : tabs.postSelected}"
			ng-click="setTab(tabs.currentTab,1)">Items for Sale</div>
		<div class="col-xs-4 text-center cursor-pointer tabBtn"
			ng-class="{'active' : tabs.followSelected}"
			ng-click="setTab(tabs.currentTab,2)">My Wants</div>
		<div class="col-xs-4 text-center cursor-pointer tabBtn"
			ng-class="{'active' : tabs.scoreLevelSelected}"
			ng-click="setTab(tabs.currentTab,3)">Posts I Follow</div>
		
	</div>
	<div ng-include src="tabs.currentTabFile"></div>



</div>


