

<div style="position: relative;height:100%;color:white;border: 1px solid gray;
    padding:5px;height:100%;">
	<div style="width:100%;height:80%;">
		<div >
			<div style="">
				<div style="position:relative;">
					<div class="text-center"><img style="height:200px;max-width:100%;" ng-src="{{miniWantImage}}"></div>
					
					<div style="position:absolute;bottom:0;width:100%;height:40px;background-color:rgba(0,0,0,0.5);line-height: 40px;text-align: center;">
						<label class="myLabel">
						    <input id="files-to-upload2" type="file" accept="image/*" />
						    <span>Choose your own<span class="caret"></span></span>
						</label>	
					</div>
				
			</div>
			<!-- <div>
					<div id="photoDropzone" class="photoDropzone">Drag files to upload</div>
			</div> -->
			
			
		</div>
	</div>
	<div style="bottom:0;padding-left:0;padding-right:0;position:absolute;left:0;"class="col-xs-12">
		<button ng-click="publishWantPost()" style="color:black;width:100%;height:50px;background-color: lightsalmon;border-radius: 0;" class="btn ">PUBLISH</button>

	</div>

</div>

<div id="content"></div>

