<div style="position: relative;height:100%;color:white;border: 1px solid gray;
    padding:5px;height:100%;">
	<div style="width:100%;height:80%;">
		<div >
			<div style="">
				<div style="background-color:red;">
					<div class="text-center"><img style="height:200px;max-width:200px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e2/Google_Chrome_icon_(2011).svg/2000px-Google_Chrome_icon_(2011).svg.png"></div>
				</div>
			</div>
			
			
		</div>
	</div>
	<div style="bottom:0;padding-left:0;padding-right:0"class="col-xs-12">
		<button style="color:black;width:100%;height:50px;" class="btn ">PUBLISH</button>
	</div>

</div>



