<div class="container">
	<!--Left Panel-->
	<div class="col-xs-3">
		<br>
		<br>
		
		<ul class="notificationsMenuList"
			style="list-style: none; padding: 0;">
			<li>All Inbox</li>
			<li>Messages</li>
			<li>Offerings</li>
			<li>Trash Can</li>
		</ul>

	</div>

	<div class="col-xs-9">

		<!--Search bar-->
		<div class="row">
			<div class="col-xs-4 input-group">
				<input type="text" class="form-control"
					placeholder="Search messages..."> <span
					class="input-group-btn">
					<button class="btn btn-default" type="button">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</span>
			</div>
		</div>

		<!--filter dropdown-->
		<div class="row">
			<div>
				<select style="width: 20%;" class="form-control pull-right">
					<option>Sort by Date</option>
					<option>Sort by Unread</option>
					<option>Sort by Read</option>
				</select>

			</div>


		</div>
		<!--notifications letter-->
		<div style="margin-top: 30px;" class="row">
			<div
				style="position: relative; display: inline-block; width: 100px; height: 100px;"
				ng-repeat="item in notifications" ng-mouseenter="letter = true"
				ng-mouseleave="letter = false">
				<img style="position: absolute; width: 100px; height: 100px;"
					ng-src="{{item.image}}">

				<div ng-class="{'overlayWhiteColor' : letter}"
					style="position: absolute; width: 100px; height: 100px;"></div>

				<div ng-show="letter" style="position: absolute; top: 0; left: 0;"
					class="arrow-down"></div>

				<div ng-show="letter" style="position: absolute;text-align: center;width:100%;font-size:0.8em;color:#fff;top:5px;">
					{{item.text}}
				</div>	
					
			</div>


		</div>
	</div>
</div>