<div class="container">
	<div class="row">
		<!-- product images -->
		<div class="col-xs-6">
			<!--main image-->
			<div style="height: 400px; text-align: center;">
				<img style="max-height: 300px;" ng-src="{{product.mainImage}}">
			</div>
			<!--other images-->
			<div style="height: 200px; text-align: center;">
				<div class="cursor-pointer"
					style="position: relative; display: inline-block; margin: 5px;"
					ng-repeat="item in product.otherImages track by $index"
					ng-click="switchMainImageWithOther($index)">
					<img style="max-height: 100px;" ng-src="{{item}}"> <span
						ng-class="{'overlayWhiteColor': !overlayWhiteColor,}"
						ng-mouseenter="overlayWhiteColor = true"
						ng-mouseleave="overlayWhiteColor = false"
						style="position: absolute; top: 0; left: 0; width: 100%; height: 100px;"></span>
				</div>


			</div>


		</div>

		<!-- product details -->
		<div class="col-xs-6">
			<h2 style="margin-top: 0;">{{product.name}}</h2>
			<div>Condition: {{product.condition}}</div>
			<hr>
			<div>
				<div style="padding-left: 0;" class="col-xs-6">
					<h2>{{product.price | currency}}</h2>
				</div>
				<div class="col-xs-6">
					<button
						style="color: #fff; margin: 5%; height: 60px; padding: 1em 2.5em;"
						class="customBlueBackground no-border">ADD TO BAG</button>
				</div>
			</div>
			<div style="position: relative;">
				<div>
					<span><img
						style="height: 40px; border-radius: 50%; margin-right: 5px;"
						ng-src="{{product.profilePic}}"></span>Listed by: <span>{{product.author}}</span>
				</div>
				<br>
				<div>{{product.desc}}</div>
				<br>
				<div>
					<h2>{{product.condition}}</h2>
				</div>


			</div>


		</div>
	</div>

</div>